#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define WIN   0
#define RIG   1
#define LEF   2
#define TRI   3
#define MOUSE 4

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
    delay-ms = <0>;                   // 0
};

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEFAULT";
            bindings = <
&none  &kp Q  &kp W        &kp E       &kp R       &kp T                                   &mmv MOVE_UP                     &kp Y            &kp U       &kp I       &kp O        &kp P          &none
&none  &kp A  &ht LCTRL S  &ht LGUI D  &ht LALT F  &kp G                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H            &ht RALT J  &ht RGUI K  &ht RCTRL L  &kp ENTER      &none
&none  &kp Z  &kp X        &kp C       &kp V       &kp B      &kp SPACE                    &mmv MOVE_DOWN                   &kp N            &kp M       &kp COMMA   &kp DOT      &kp BACKSPACE  &none
                           &lt 4 ESC   &kp SPACE   &lt 2 TAB                                                                &kp RIGHT_SHIFT  &lt 1 TAB   &lt 3 ESC
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        right_layer {
            display-name = "NUM & NAVIGATION";
            bindings = <
&trans  &trans   &kp N1  &kp N2  &kp N3  &trans                                        &mmv MOVE_UP                     &kp PG_UP  &kp HOME        &kp UP_ARROW  &kp END    &kp PAGE_DOWN  &trans
&trans  &kp DEL  &kp N4  &kp N5  &kp N6  &kp LEFT_SHIFT                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp CAPS   &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans         &trans
&trans  &trans   &kp N7  &kp N8  &kp N9  &kp N0          &kp C_MUTE                    &mmv MOVE_DOWN                   &trans     &kp INS         &trans        &kp DEL    &trans         &trans
                         &trans  &trans  &kp ESC                                                                        &trans     &trans          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        left_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                              &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp GRAVE  &kp TILDE  &trans
&trans  &kp DQT   &kp LBKT  &kp LBRC  &kp LPAR  &trans                 &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp FSLH   &kp MINUS  &kp EQUAL  &kp COLON  &kp SEMI   &trans
&trans  &kp SQT   &kp RBKT  &kp RBRC  &kp RPAR  &bootloader  &trans                    &mmv MOVE_DOWN                   &kp BSLH   &kp UNDER  &kp PLUS   &kp PIPE   &kp QMARK  &trans
                            &trans    &trans    &trans                                                                  &tog 4     &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Func";
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans                    &trans          &trans  &trans  &trans      &trans  &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans            &trans  &trans  &trans  &trans  &trans  &kp RSHIFT  &trans  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans            &trans          &trans  &trans  &trans      &trans  &trans  &trans
                         &trans   &trans   &trans                                    &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        mouse {
            display-name = "MOUSE";
            bindings = <
&trans  &tog 4  &mkp MB4  &mkp MCLK  &mkp MB5   &trans                                    &mmv MOVE_UP                     &msc SCRL_LEFT  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &tog 4  &trans
&trans  &trans  &trans    &trans     &trans     &trans                    &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans    &trans     &trans     &trans      &kp C_MUTE                    &mmv MOVE_DOWN                   &trans          &mkp MB4        &mkp MCLK       &mkp MB5         &trans  &trans
                          &trans     &kp SPACE  &kp LSHIFT                                                                 &mkp LCLK       &mkp RCLK       &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
